<h1>Data Science Tools and Ecosystem</h1>

<h3>In this notebook, Data Science Tools and Ecosystem are summarized.</h3>

<h4>Some of the popular languages that Data Scientists use are:</h4>

1. R
1. Scala
1. Python
1. Java
1. SQL

<h4>Some of the commonly used libraries used by Data Scientists include:</h4>

1. Matplotlib
2. NumPy
3. Pandas

| Data Science Tools |
|---|
| Jupyter Notebook |
|---|
| Apache Hadoop |
|---|
| RStudio |

<h4>Below are a few examples of evaluating arithmetic expressions in Python</h4>

In [34]:
#This is a straightforward mathematical formula to multiply
#then add integers

value = (3*4)+5
print(f"(3*4)+5 is equal to {value}")

(3*4)+5 is equal to 17

In [30]:
#By dividing by 60, this will change 200 minutes into hours.
minutes = 200
hour = 60
minutes_into_hours = 200 / 60

print(f"200minutes in hours is {minutes_into_hours}")

200minutes in hours is 3.3333333333333335

**Objectives:**

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Using Arithmetic expressions
- How to format text
- Comment on Data Science tools.

<h2>Author:</h2> Diogo Monteiro